<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Port" value="COM1" />
    <add key="ecuPath" value="C:\Ediabas\Ecu" />
    <add key="defaultSGBD" value="D_MOTOR.GRP" />
  </appSettings>
</configuration>